

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card" id="prinriri">
                    <div class="card-header">
                        <h4>Region List</h4>
                        <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#centerModald">Add New </button>

                    </div>
                  
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-condensed  table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                     
                                    </tr>
                                </thead>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
         
            "ajax": {
                "url": "/Region/GetData",
                "type": "GET",
                "datatype": "json"
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "columns": [
                { "data": "Id" },
                { "data": "RegionName" },
               {
                   "data": "Id", "render": function (data) {
                       return '<a class="btn btn-danger" onclick="Delete(\'' + data + '\')" style="margin-right: 12px"><span class="glyphicon glyphicon-trash"></span>Delete</a><a data-toggle="modal" data-target="#centerModald" class="btn btn-success" onclick="Edit(\'' + data + '\')" style="margin-right: 12px"><span class="glyphicon glyphicon-pencil"></span>Edit</a>';
                   }
               },

            ]
        })


    });
    function Delete(Id) {
        if (confirm("Are you really want to delete this record?")) {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Delete", "Region")/' + Id ,

                                            success: function (response) {

                                                    location.reload();

                                            }
                                        });
                                    }
                                }
           function Edit(Id) {

                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("Save", "Region")/' + Id,
                    data: { Id: Id },

                    success: function (response) {

                        $('#modal-body').html(result);

                    }
            });


        }
    </script>
    }

<div class="modal fade" id="centerModald" tabindex="-1" role="dialog" data-backdrop="false"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add/Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @model VouterApp.Models.RegionModel
                @using (Html.BeginForm("Save", "Region", FormMethod.Post, new { id = "formsubmit" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegionName, new { @class = "control-label" })
                        
                                @Html.EditorFor(model => model.RegionName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RegionName)
                          
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class=" btn-danger btn " />
                            </div>
                        </div>
                    </div>
                }



            </div>

        </div>
    </div>
</div>
