@model VouterApp.Models.CandidateModel

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4>Candidate Registration</h4>
                </div>
                <div class="card-body">

                    <div class="form-horizontal">
                   
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SecondName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SecondName)
                                @Html.ValidationMessageFor(model => model.SecondName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Region, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.rg, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Region)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.District, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(model => model.District, new SelectList(ViewBag.dt, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.District)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Party, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Party)
                                @Html.ValidationMessageFor(model => model.Party)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Election, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Election)
                                @Html.ValidationMessageFor(model => model.Election)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



